---
title: Projects
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="filter-v1">
    <ul class="mix-filter">
      <li data-filter="all" class="filter active">All</li>
      <li data-filter="category_1" class="filter">Arduino</li>
      <li data-filter="category_2" class="filter">BLE</li>
      <li data-filter="category_3" class="filter">NFC</li>
      <li data-filter="category_3 category_1" class="filter">DIY</li>
    </ul>
    <div class="row mix-grid thumbnails">
      <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
        <div class="mix-inner">
          <img alt="" src="/images/wifi_car.png" class="img-responsive">
          <div class="mix-details">
        <h4>Wi-Fi Car</h4>
        <p>A DIY Wi-Fi Car powered by Open Source technologies.</p>
        <a class="mix-link"><i class="fa fa-link"></i></a>
        <a title="Paper Man" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
          </div>           
          <div class="mix-info container">
        <h2>Wi-Fi Car</h2>
        <p>It's a Wi-Fi Car with a camera.</p>
        <div class="row quote-v1 margin-bottom-30">
          <div class="col-md-7 quote-v1-inner">
            <span>To build one by yourself</span>
          </div>
          <div class="col-md-5 quote-v1-inner text-right">
            <a href="https://github.com/xiongyihui/wifi-car/" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Go</a>
          </div>
        </div>
        <div class="row front-lists-v2 margin-bottom-15">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><i class="fa fa-flask"></i> Arduino </li>
              <li><i class="fa fa-linux"></i> OpenWrt </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><i class="fa fa-wifi"></i> Wi-Fi </li>
              <li><i class="fa fa-android"></i> Android </li>
            </ul>
          </div>
        </div>
        <a class="btn btn-lg btn-primary" style="color: white;" href="https://github.com/xiongyihui/wifi-car/"> Visit Project</a>
        <a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
          </div>               
        </div>                       
      </div>
      <div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
        <div class="mix-inner">
          <img alt="" src="/images/paper_man.jpg" class="img-responsive">
          <div class="mix-details">
        <h4>Paper Man</h4>
        <p>A cute NFC printer with Iron Man's paper armor.</p>
        <a class="mix-link"><i class="fa fa-link"></i></a>
        <a title="Paper Man" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
          </div>           
          <div class="mix-info container">
        <h2>Paper Man</h2>
        <p>It's a cute NFC printer with Iron Man's paper armor. When you use an NFC enabled android device to touch its header and send something like a name card or a text message, the Paper Man will print it out.</p>
        <div class="row quote-v1 margin-bottom-30">
          <div class="col-md-7 quote-v1-inner">
            <span>Wanna build unique one by yourself?</span>
          </div>
          <div class="col-md-5 quote-v1-inner text-right">
            <a href="http://www.instructables.com/id/Paper-Man-a-machine-created-by-Arduino-and-NFC/" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Go</a>
          </div>
        </div>
        <div class="row front-lists-v2 margin-bottom-15">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><i class="fa fa-flask"></i> Arduino </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><i class="fa fa-exchange"></i> NFC </li>
            </ul>
          </div>
        </div>
        <a class="btn btn-lg btn-primary" style="color: white;" href="https://github.com/xiongyihui/nfcdemo/"> Visit Project</a>
        <a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
          </div>               
        </div>                       
      </div>
      <div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
        <div class="mix-inner">
          <img alt="" src="/images/ble_color_pixels.jpg" class="img-responsive">
          <div class="mix-details">
        <h4>BLE Color Pixels</h4>
        <p>Colorful and interactive object built with Bluetooth Low Energy.</p>
        <a class="mix-link"><i class="fa fa-link"></i></a>
        <a title="BLE Color Pixels" href="#projectz" class="mix-preview"><i class="fa fa-search"></i></a>
          </div>              
          <div class="mix-info container">
        <h2>BLE Color Pixels</h2>
        <p>Colorful and interactive object built with Bluetooth Low Energy.</p>
        <div class="row front-lists-v2 margin-bottom-15">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><i class="fa fa-bluetooth"></i> Bluetooth Low Energy </li>
              <li><i class="fa fa-android"></i> Android </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><i class="fa fa-flask"></i> mbed </li>
            </ul>
          </div>
        </div>
        <a class="btn btn-lg btn-primary" style="color: white;" href="https://github.com/Seeed-Studio/BLE_Color_Pixels"> Visit Project</a>
        <a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
          </div>               
        </div>      
      </div>
      <div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
        <div class="mix-inner">
          <img alt="" src="/images/touch_pixel.jpg" class="img-responsive">
          <div class="mix-details">
        <h4>Touch Pixel</h4>
        <p>It's a color light with 3d-print cat shape and is powered with NFC.</p>
        <a class="mix-link"><i class="fa fa-link"></i></a>
        <a title="Touch Pixel" href="#project2" class="mix-preview"><i class="fa fa-search"></i></a>
          </div>               
          <div class="mix-info container">
        <h2>Touch Pixel</h2>
        <p>It's a color light with 3d-print cat shape and is powered with NFC.</p>
        <div class="row front-lists-v2 margin-bottom-15">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><i class="fa fa-flask"></i> Arduino </li>
              <li><i class="fa fa-exchange"></i> NFC </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><i class="fa fa-android"></i> Android </li>
            </ul>
          </div>
        </div>
        <a class="btn btn-lg btn-primary" style="color: white;" href="https://github.com/Seeed-Studio/TouchPixel/"> Visit Project</a>
        <a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
          </div>               
        </div>                    
      </div>
      <div class="col-md-4 col-sm-6 mix category_1 category_2 mix_all" style="display: block;  opacity: 1;">
        <div class="mix-inner">
          <img alt="" src="/images/some_hallows_eve.jpg" class="img-responsive">
          <div class="mix-details">
        <h4>Hallow's Eve</h4>
        <p>It's an interactive artifact which is able to response your gesture.</p>
        <a class="mix-link"><i class="fa fa-link"></i></a>
        <a title="Hallow's Eve" href="#project3" class="mix-preview"><i class="fa fa-search"></i></a>
          </div>               
          <div class="mix-info container">
        <h4>Hallow's Eve</h4>
        <p>It's an interactive artifact which is able to response your gesture.</p>
        <div class="row front-lists-v2 margin-bottom-15">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><i class="fa fa-flask"></i> Arduino </li>
              <li><i class="fa fa-exchange"></i> NFC </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><i class="fa fa-android"></i> Android </li>
            </ul>
          </div>
        </div>
        <a class="btn btn-lg btn-primary" style="color: white;" href="https://github.com/Seeed-Studio/TouchPixel/"> Visit Project</a>
        <a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
          </div>               
        </div>                    
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
